<div class="content">
    <form>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Nome do Produto: </mat-label>
            <input type="text" matInput placeholder="Informe a descrição do produto">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Preço: </mat-label>
            <input type="number" matInput placeholder="Informe o peço do produto">
        </mat-form-field>

    </form>

    <div>
        <button mat-raised-button color="primary" (click)="createProduct()">
            <mat-icon>save</mat-icon> Salvar
        </button>
        <samp class="margin-left"></samp>
        <button mat-raised-button color="warn" routerLink="/products">
            <mat-icon>close</mat-icon> Cancelar
        </button>
    </div>

</div>