<mat-toolbar class="header mat-elevation-z3">
    <!-- (click)="toggleSideNav()"  -->
    <button (click)="toggleMatSideNav()" mat-icon-button class="example-icon"
        aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <!-- <span class="example-spacer"></span> -->
    <span>
        <a>
            <img class="logo" src="assets/img/logo.png" alt="logo">
        </a>
    </span>
    <span class="title-group">
        <a>
            <i class="material-icons">
                home
                <!-- dashboard -->
            </i>
            Início
        </a>
    </span>
</mat-toolbar>